node_modules
**/node_modules
npm-debug.log
.DS_Store
dist
build
.idea
yarn-error.log
.cache
.vs
.vscode
*.code-workspace

# IDE/Editor GraphQL Extensions
graphql.*.json
.gqlconfig

# Relay modern
__generated__/

# Flow log
flow.log

# Jest junit file
coverage
junit.xml

# Random things to ignore
ignore/
package-lock.json
yarn-offline-cache

hard-source-cache/
**/hard-source-cache/

# Cypress
cypress/videos
cypress/screenshots

# env variables
.env
.env.*
!.env.example

# Local-only files
_*
**/tsconfig.tsbuildinfo
**/mocks
**/__mocks__

# Terraform
.terraform
.terraform.*
terraform.tfstate
secrets.tfvars